body{
  font-family: 'Montserrat';
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat';
  font-weight: 900;
}

h3{

  font-size: 1.5rem;
}
.big-heading{
  font-family: 'Montserrat-thin', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

p{
  color: #8f8f8f;
}
.big-heading{
  font-family: 'Montserrat-thin', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}
.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}
/* container */
.container-fluid{
  padding: 7% 15%;
}
/* sections */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
  background-color: #fff;
}

/* Navigation bar */
.navbar{
  padding:0 0 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;

}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-Light';
}
.download-button{
  margin: 5% 3% 5% 0;

}
/* title and phone img */
#title{

  text-align: left;
}
#title .container-fluid{
  padding: 3% 15% 7%;
}
.title-img{
  width: 60%;
   transform: rotate(25deg);
  position: absolute;
  right: 20%;

}
/* feature Saction */
#features{

position: relative;

}
.feature-title{
  font-size: 1.5rem
}

.feature-box{

  padding: 5%;
}

/* front awsome icons */
.icon{
  color: #ef8172;
  margin-bottom: 1rem;

}
.icon:hover{
  color: #ff4c68;
}

/* testimonials */
#testimonials{


  background-color: #ef8172;


}
.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

#press{
  background-color: #ef8172;

  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
/* pricing */

#pricing{
  padding: 100px;


}
.pricing-column{
  padding: 50px;

}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
}
.plans{
  font-size: 1.5rem;
}

@media (max-width:1028px) {
  .title-img{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;

  }
}

/* last section */





/* Footer */

.f-icon{
  margin: 90px 10px 10px;
}
